<!DOCTYPE html>
<html>
<head>
  <title>Training Zone - Even Columns</title>
  <link rel="stylesheet" href="../css/styles-cols.css" type="text/css"/>
</head>
<body class="fullwidth">
    <div class="right even">
      This is side right side content
    </div>
    <div class="main even">
      <a href="../layouts.html">Back to layouts</a>
      <h3>Even Columns</h3>
      <div class="col1 sm">
        Column 1
      </div>
      <div class="col2 sm">
        Column 2
      </div>
    </div>
    <div class="left even">
        <h3>Even Columns</h3>
      This is some left side content
    </div>
</body>
</html>