h1 {
  color: white;
  border: 2px dotted purple;
  margin: 20px;
  padding: 10px;
  text-align: center;
  box-shadow: 10px 10px purple;
}
.home {
  text-decoration: none;
}

h1:hover {
  background-color: orange;
}

h1:active {
  background-color: orangered;
  box-shadow: 2px 2px purple;
  margin: 28px 12px 12px 28px;
}

body {
  width: 75%;
  margin: auto;
  font-family: sans-serif;
  background-color: lightcoral;
}

nav {
  background-color: lightblue;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 3px 3px purple;
}

.right {
  margin: 20px; 
  padding: 20px;
  height: 350px;
  width: 100px;
  background-color: white;
  float: left;
  box-shadow: 4px 4px purple;
}

.main {
  display: inline-block;
  align-items: center;
  margin: 10px 50px;
  text-align: justify;
  background-color: white;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 4px 4px purple;
}

.img {
  width: 400px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 10px 10px lightcoral;
}
.img-sm {
  width: 200px;
}
.img-md {
  width: 300px;
}

.imgHolder {
  text-align: center;
}

p:hover {
  background-color: rgba(255, 127, 80, 0.2);
  border-radius: 2px;
}
tr:hover {
  background-color: rgba(255, 127, 80, 0.2);
  border-radius: 2px;
}
li:hover {
  background-color: rgba(255, 127, 80, 0.2);
  border-radius: 2px;
}
h3:hover {
  background-color: rgba(255, 127, 80, 0.2);
  border-radius: 2px;
}
h4:hover {
  background-color: rgba(255, 127, 80, 0.2);
  border-radius: 2px;
}